# ESP-IDF build output
build/
sdkconfig

# IDE / LSP
.vscode/*
!.vscode/settings.json
!.vscode/c_cpp_properties.json
.cache/

compile_commands.json
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
